h1,h2 {
  text-align: center;
}

body {
  background-image: url('https://media.istockphoto.com/id/1307427072/vector/surfboards-on-hawaii-ocean-beach.jpg?s=612x612&w=0&k=20&c=KqRrxDbMhbkrSV8QSZMB4EnG0JSf4JNUIyDB-RCzcUo=');
  color: darkblue;
  font-family:  'Roboto','Ubuntu';
}

